@import "tailwindcss";

@layer components {
  .label {
    width: 80% !important;
    max-width: 300px !important;
    font-size: larger !important;
  }
}
body {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 237, 237);
}
.ant-layout-header {
  color: #fff;
}
